.button {
        background-color: rgb(1, 1, 39);
        border: none;
        color: white;
        /*padding: 5px 5px;*/
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        display: inline-block;
        margin: 2px 1px;
        cursor: pointer; 
}

.figuraFichaSaco {
        background-color: palegreen;
        width: 30px;
        height: 40px;
        text-align: center;
        font-weight: bold;
        border-radius: 10px;
        border: 2px solid white;
}

.figuraFicha{
        background-color: palegoldenrod;
        width: 30px;
        height: 40px;
        text-align: center;
        font-weight: bold;
        border-radius: 10px;
        /* margin: 10px 10px; */
        border: 2px solid white;
}

.figuraFichaMaquina {
        background-color:lightblue;
        width: 30px;
        height: 40px;
        text-align: center;
        font-weight: bold;
        border-radius: 10px;  
        border: 2px solid white;
} 

.indice {
        width: 30px;
        height: 20px;
        text-align: center;
        border-radius: 10px;
        font-size: 12px;
}

.figuraFichaMarcada {
        background-color:goldenrod;
        width: 30px;
        height: 40px;
        text-align: center;
        font-weight: bold;
        border-radius: 10px;  
        border: 2px solid white;
}

.fichaMesaSelec{
        background-color:goldenrod;
        width: 30px;
        height: 40px;
        text-align: center;
        font-weight: bold;
        border-radius: 10px;  
        border: 2px solid white;
}


.filaMesaNormal {
        background-color:palegoldenrod;
        /* width: 30px;
        height: 40px;
        text-align: center;
        font-weight: bold;
        border-radius: 10px;
} */
}
body {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

.center_varios {
        display: flex; justify-content: center; 
    }
    