* {
  box-sizing: content-box;
  font-size: 14px;
} 


body{
  background-color: grey;
}

h4{
  padding: 0px;
  margin: 0px;
}

table {
  border-collapse: separate;
  border-spacing: 3px;
}

.figuraFicha{
    background-color: palegoldenrod;
    width: 30px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    border: 0px solid gray;
    margin-right: 3px;
    box-shadow: 4px 4px 2px #353535;
    padding: 0px;
}

#numeroFichas{
  background-color:white;
  width: 60px;
  height: 300px;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  border: 0px solid gray;
  margin-right: 3px;
  box-shadow: 4px 4px 2px #353535;
  padding: 0px;
}


.figuraFicha.permiso{
  background-color: darkgreen;
}

.figuraFicha.error{
  background-color: red;
}

.figuraFicha.marcada{
  background-color: goldenrod;
}

.figuraFicha.marcasuave{
  background-color: rgb(255, 241, 113)
}

.figuraFicha.joker{
  background-color: rgb(219, 133, 192);
}

#general{
  margin: auto;
  margin-top: 0px;
  width: 1080px;
  /* height: 800px; */
  /* background-color: darkolivegreen; */
}
#cabecera{ 
  background-color: grey; 
  padding: 3 3 3 10px; 
} 

#cuerpo{ 
  margin: 10 0 10 0px; 
} 

#botonesjugadas, #ajustesComodin{
  margin: 0px; 
  margin-top:22px;
  float: left;
  width: 100px;
  height: 424px;
  background-color: darkslategrey;
}

#ajustesComodin {
  padding-left: 0px;
  color:gray;
}


#textoJugador{
  float: right;
  width: 600px;
  background-color:rgb(210, 210, 210);
}

.btnjugada, .btn{
  background-color: lightgray;
  width: 85px;
  height: 35px;
  text-align: center;
  border: 2px solid darkslategrey;
  padding: 5px;
}


.btn{
  background-color:#1b0788;
  width: auto;
  color: white
}

.btn:hover{
  background-color:#9a8ce7;
  color: #1b0788
}

.btnjugada:hover{
  background-color:black;
  color: lightgray
}

.btn:active {
  background-color:#9a8ce7;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn-rojo {
  background-color: red;
  color:white;
}

.btn-rojo:hover{
  background-color: white;
  color: red;
}

.btn-verde {
  background-color: green;
  color:white;
}

.btn-verde:hover¨{
  background-color: white;
  color: green;
}


.fill-auto{
  column-fill: auto;
}

/* .Rummy{
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    border: 2px solid rgb(158, 230, 136);
}     
*/
    
#zonaMesa{
    background-color: green;
    color:  lightgreen;
    /*height: 70px;
    width: 400px; */
    text-align: center;
    vertical-align:text-bottom;
    padding: 5px 0px 40px;
    margin-left: 100px;
}    


 #zonaMesaRummy{
  column-count: 2;
  column-rule-width: 1px;
  column-rule-color: white;
  column-fill:auto;
  height:424px;
}


#MMC {
  color:white;
}

#MMC:hover {
  background-color:#9a8ce7;  column-rule-color: lightblue;

  color: #1b0788
}

/* .figuraFichaM {
        background-color:lightblue;
        width: 30px;
        height: 50px;
        text-align: center;
        font-weight: bold;
        border-radius: 10px;  
        /* border: 2px solid white; 
}  
*/

.center_varios {
        display: flex; 
        margin-left: auto;
        margin-right: auto;
    }

